
<script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">

<header>
  <h1>Hi <%= name %></h1>
  <h2>Your Grocery List</h2>
</header>
<main>
  
  <script src = "js/client.js"></script>
  
  <p>Add a new Item:</p>
  <form id="submitform">
    <input id="iName" type="text" maxlength="100" placeholder="Item name"> 
    <input id="amount" type="number" maxlength="100" placeholder="1?"> 
    <button type="submit">Add</button>
    <script id = user> let user = email </script>
  </form>
  
  <h2>Grocery List:</h2>
  <section class="groceries">
    <ul id="groceries">
    </ul>
    <div id = "table" class = "labelInput"></div>
  </section>
  <p>
    <a href="/reset">Reset</a> | <a href="/clear">Delete All</a>
  </p>
  <form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
  </form>'
</main>

